<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items with Pictures</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background: linear-gradient(103deg, rgb(137, 247, 234) 7.3%, rgb(102, 117, 241) 100.2%);
        }
        
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
<h1> {{ game.name }} </h1>
</body>
</html>